$primary-main-color: #431ad8;

$secondary-main-color: #f4f6f8;

$gray-main-color: #B4C2CF;
$gray-dark-color: darken($gray-main-color, 15%);

$text-primary-color: #100D23;
$text-secondary-color: #5B6F80;

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

$main-border-radius: 4px;